/*Adaptive Header*/

@media (max-width: 767.98px) {
  .header__contact {
    flex: 1 1 auto;
  }

  .lang-menu {
    left: -10px;
  }

  .menu__button {
    display: flex;
    position: relative;
    z-index: 1002;
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    right: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1001;
  }

  .header__menu.active {
    transform: translateX(0);
  }

  .menu__list {
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 20px;
  }

  .menu__link {
    font-size: 20px;
  }

  .menu__link::after {
    content: "";
    top: 21px;
  }

  .menu__button.active span:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  .menu__button.active span:nth-child(2) {
    opacity: 0;
  }
  .menu__button.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
  }
}

/*Adaptive MyServices*/

@media (max-width: 1213px) {
  .myServices__content {
    flex-wrap: wrap;
    gap: 60px;
  }
}

@media (max-width: 767.98px) {
  .main__myServices {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .myServices__title {
    margin-bottom: 20px;
  }
  .myServices__text {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .myServices__text {
    font-size: 14px;
  }
}

/*Adaptive MyProjects*/

@media (max-width: 880px) {
  .myProjects__item {
    padding: 20px;
  }

  .myProjects__image img {
    width: 300px;
    height: 300px;
  }

  .myProjects__text {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

@media (max-width: 740px) {
  .main__myProjects {
    padding-top: 100px;
    padding-bottom: 70px;
  }
  .myProjects__title {
    margin-bottom: 40px;
  }

  .myProjects__items {
    gap: 20px;
  }

  .myProjects__top-title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .myProjects__image {
    max-width: 500px;
    margin-bottom: 20px;
  }

  .myProjects__image img {
    width: 250px;
    height: 250px;
  }

  .modal__content {
    font-size: 16px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__time {
    margin-top: 15px;
  }
}

@media (max-width: 630px) {
  .main__myProjects {
    padding-top: 100px;
  }
  .myProjects__top-title {
    margin-bottom: 15px;
  }

  .myProjects__image {
    max-width: 400px;
  }

  .myProjects__image img {
    width: 220px;
    height: 220px;
  }
}

@media (max-width: 570px) {
  .myProjects__top-title {
    margin-bottom: 10px;
  }

  .myProjects__image img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 530px) {
  .myProjects__image img {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 490px) {
  .myProjects__image img {
    width: 200px;
    height: 200px;
  }
}

/*Adaptive Footer*/

@media (max-width: 500px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 30px;
  }
  .footer__container {
    text-align: center;
  }
}
